<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="sequenceoftestcases.CheckingTestCaseSequence"/>
      <class name="sequenceoftestcases.WithoutPriority"/>
      <class name="annotation_sequence.AnnotationSequenceTNG"/>
      <class name="annotation_sequence.AnnotationsM2"/>
      <class name="keywords_useTestTNG.KeywordsUse"/>
      <class name="annotation_sequence.AnnotationM1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
